* {
    font-family: Arial,
    Helvetica,
    sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
    min-height: 100vh;
    display: grid;
    place-items: center;
    // perspective: 500px;
    // perspective-origin: 50% calc(50% - 150px);
}

.scene {
    position: relative;
    perspective: 800px;
    perspective-origin: 50% calc(50% - 250px);
    transform-style: preserve-3d;
}

.banner {
    display: flex;
    transform-style: preserve-3d;
    // transform: translateY(100px);
    // transform: rotateY(0deg);
    // animation: rotation 15s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotateY(-360deg);
    }
}

$width: 70.4px;
.panel {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(273px);
    width: $width;
    height: 220px;
    // border: 1px solid white;
    // background-color: #fff4;
    overflow: hidden;
}

.panel::before{
    position: absolute;
    left: var(--left);
    content: url(./close2.png);
    // font-size: 96px;
    // width: max-content;
    // color: hsl(var(--hue), 75%, 75%);
}


@for $i from 0 to 25 {
    .panel:nth-child(#{$i +1}) {
        --left: #{$width * $i * -1};
        // --hue: #{360 / 20 *$i};
        --angle: #{360deg /25 *$i};
    }
}

.screen {
    position: absolute;
    width: 550px;
    height: 150px;
    // background-color: #f00;
    border-radius: 37%;
    background-image: linear-gradient(90deg, transparent, #000a 15%, #000d, #000d, #000a 85%, transparent);
    transform: translate(-50%, -146px);
}

#valeur {
    position: absolute;
    margin-left: 1em;
    color: #aaa;
}

.valeurAngle {
    position: relative;
    width: 400px;
}

input[type=range].valAngle {
    width: 100%;
    margin: 6.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range].valAngle:focus {
    outline: none;
}

input[type=range].valAngle::-webkit-slider-runnable-track {
    background: #ff0000;
    border: 0;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range].valAngle::-webkit-slider-thumb {
    margin-top: -6.5px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range].valAngle:focus::-webkit-slider-runnable-track {
    background: #ff0000;
}

input[type=range].valAngle::-moz-range-track {
    background: #000000;
    border: 0;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range].valAngle::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range].valAngle::-ms-track {
    background: #ff0000;
    border-color: transparent;
    border-width: 6.5px 0;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range].valAngle::-ms-fill-lower {
    background: #ff0000;
    border: 0;
}

input[type=range].valAngle::-ms-fill-upper {
    background: #ff0000;
    border: 0;
}

input[type=range].valAngle::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range].valAngle:focus::-ms-fill-lower {
    background: #ff0000;
}

input[type=range].valAngle:focus::-ms-fill-upper {
    background: #ff0000;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].valAngle {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}